body {
  background: #2c2c2c;
}

div {
  display: grid;
  /* cuando hay pocos elementos no se va a notar la diferencia entre auto-fit y auto-fill, pero basicamente auto-fit rellena todo el ancho de la pantalla, mientras que auto-fill si deja los espacios vacios */
  grid-template-columns: repeat(auto-fit,
      minmax(200px, 1fr));
  grid-column-gap: 16px;
  gap: 16px;
  max-width: 900px;
  margin: 0 auto;
}

body img {
  border-radius: 8px;
  width: 100%;
  height: auto;
}
