.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, minmax(100px, 1fr));
}

.container header {
  background: #09f;
  grid-column-start: 1;
  grid-column-end: 4;
}

.container aside {
  background: yellow;
}

.container main {
  background: red;
  grid-column-start: 2;
  grid-column-end: 4;
}

.container footer {
  background: grey;
  grid-column-start: 1;
  grid-column-end: 4;
}

body {
  margin: 0;
  background: #ddd;
}
